@meta charset="UTF-8";

Logo{
    font-family: 'Courier New', Courier, monospace;
}

.Menu{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 15px;
   align-items: center;
}