@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Kalam & family= Montserrat:ital,wght@1,100 & display=swap');



:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

        --fontpadrao:arial,verdana,helvetica,sans-serif;
        --fontedestaque: 'Montserrat', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
   
}


body{
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
}

a.externo::after{
    content: '\00a0\1F517';

}




header{
    color: white;
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));

    }

header > p{
    margin-bottom: 20px;
    color: white;
    font-family: var(--fontpadrao);
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}


header > h1{
    color:var(--cor5);
    font-family: var(--fontedestaque);
    color: white;
    font-size: 3em;
   font-size: 1.2em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
   font-weight: normal;

}

nav{
    background-color:var(--cor5);
    color: #c5ebd6;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.384);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: #2fa866;
    color: #063d1e;
    border-radius: 5px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto; 
    margin-bottom: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);

}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1em;
     
 }

 main strong{
    color: #1a5c37;
    font-weight: bold;
    padding: 2px 6px;
 }

main img{
    width: 100%;
}

main a{
    background-color: #c5ebd6;
    text-decoration: none;
    font-weight: bolder;
    padding: 2px 5px;
    color: #063d1e;

}

main a:hover{
    text-decoration: underline;
    color: #2fa866;

}

main img.pequeno{
 max-width: 350px;
 margin: auto;
 display: block;
}



main h1{
    font-family: var(--fontpadrao);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fontpadrao);
    color: white;
    font-size: 1.3em;
    background-image:  linear-gradient(to right,var(--cor5), var(--cor0));
    text-indent: 8px;
    font-weight: normal;

}

div.video{
background-color: #1a5c37;
margin: 0px -20px 30px -20px;
padding: 20px;
position: relative;
padding-bottom: 59%;

}

div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}


aside{
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.342) ;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1f4cd\00a0';

}

aside > h3{
    background-color: #1a5c37;
    color:white;
    padding: 5px;
    margin:-10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
   
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
    color: #2fa866;
}